#control-panel {
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: #eee;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  font-size: 11px;
  font-family: monospace;
}

input,
button {
  font-family: monospace;
  padding: 5px;
}

p {
  margin-bottom: 0;
}
#control-panel * + * {
  margin-top: 0.5rem;
}
